body {
	height: 100vh;
	background-image: linear-gradient(
		to bottom,
		#7209b7 3%,
		#1960a3 50%,
		#4aaef6 100%
	);
}

/* Header comp css */
.header {
	margin: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 5px solid #29267b;
	align-items: center;
	color: white;
}

.btnContainer {
	display: flex;
	padding: 5px;
}
.btnContainer .btn {
	margin-right: 10px;
	padding: 10px 20px;
	color: #29267b;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

/* Hero section component */
.formContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.formContainer h2 {
	color: white;
}
/* Register component */
.userForm {
	background: #240046;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 35%;
	height: 60vh;
	margin-top: 5%;
	border-radius: 10px;
	color: white;
	font-size: large;
}
.signInForm {
	/* display: none; */
}
.userForm div {
	width: 100%;
	border-radius: 10px;
	background: #10002b;
	align-content: center;
}
.userForm h2 {
	display: flex;
	justify-content: center;
}

.userForm form {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.userForm input {
	padding: 10px;
	margin: 10px 0;
	font-size: larger;
	/* border: none; */
	border-bottom: red;
}
.userForm .btn {
	margin-top: 30px;
	padding: 10px;
	border: none;
	background-color: #4aaef6;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}
.userForm p {
	margin-top: 50px;
}
.userForm p a {
	color: blue;
	font-weight: bold;
}

/* SignIn component */
.signInForm p {
	margin-top: 10px;
}

.signInForm .btn {
	margin: 20px 0 50px 0;
}

/* Footer Component */

footer {
	display: flex;
	flex-direction: column;
	height: 10vh;
	width: 100vw;
	top: 88vh;
	position: absolute;
	align-items: center;
	padding-bottom: 15px;
	background: #10002b;
	color: white;
}
footer .icons ul {
	display: flex;
}
footer ul li,
p {
	list-style: none;
	padding-left: 10px;
	margin: 0 0 0 0;
}
